; Конфигурация приложения
const appName = @"MyApplication"
const version = 1

(list
    (list @"name" $[appName])
    (list @"version" $[version])
    (list @"features"
        (list @"FeatureA" @"enabled")
        (list @"FeatureB" @"disabled")
    )
)